<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>商品編集</title>
</head>

<body>
	<h1>在庫と価格の編集</h1>

	<form th:object="${productStoreDetail}" th:action="@{/admin/products/edit/{id}(id=${product.id})}" method="post">

		<input type="hidden" th:field="*{id.productId}" />
		<input type="hidden" th:field="*{id.storeId}" />

		<label>価格: <input type="number" step="0.01" th:field="*{salePrice}" required /></label><br />
		<label>在庫数: <input type="number" th:field="*{stockQuantity}" required /></label><br />

		<button type="submit">更新</button>
	</form>

	<a th:href="@{/admin/products}">戻る</a>
</body>

</html>